# Project dependencies
node_modeules/

# Test coverage folder
coverage/

# Tests images
/tests/integration/controllers/images

# Static content
public/

README.md
LICENSE

# npm packages
package.json
package-lock.json

# Data seeder
_data/

# Env variables
config/

# Husky hooks
husky/